/* General Styles */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #e6e5e4;
    margin: 20px auto;
}

.addtask {
    width: 100%;
    max-width: 700px;
    margin: auto;
}


h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5D6532;
    font-size: 30px;
    padding-top: 20px;
    margin: auto;
    text-align: center;

}

.addtask p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5D6532;
    font-size: 16px;
    padding-top: 20px;
    margin: 30px auto;
    text-align: center;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5D6532;
    font-size: 23px;
    padding-top: 50px;
    margin: auto;
    text-align: center;
}

/* form {
    display: flex;
    justify-content: center;
    align-items: center;
} */

#input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    height: 20px;

}

input {
    flex: 1;
    padding: 10px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 50px;
    border: none;
    outline: none;
    padding-left: 30px;
    width: 600px;
    text-align: center;
}

#button {

    display: block;
    margin: 0 auto;
}

button {
    background-color: #3E593B;
    color: #FEF8F2;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 3px 40px;
    text-align: center;
    font-size: 14px;
    font-weight: medium;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    margin: auto 20px;
}

input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: light;
    color: #999999;
    font-size: 14px;
}

/* 
#list {
    display: inline-block;
    margin: auto;
    line-height: 1.5;
} */

#list-container {
    display: flex;
    max-width: 600px;
    border: none;
    margin: 20px auto;
    line-height: 2;
}


.delete {
    text-align: right;
    margin-left: 50px;
    padding: 5px;
    color: #ffffff;
    font-size: 16px;
}

.delete:hover {
    background-color: #f44336;
    color: white;
}

#footer {
    font-size: 12px;
    text-align: center;
    color: #3E593B;
}